.env*
*.db
**/.DS_Store

.eslint*
.gitignore
.prettier*

node_modules

.git
.vscode
.idea

*.yml
*.yaml
*.md
*.js
!index.js
!package.json
!package-lock.json

/frontend
!/frontend/public
!/frontend/src
!/frontend/package*.json
!/frontend/tailwind*
